/* Navbar */

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    gap: 10px;
    
    position: absolute;
    width: 100vw;
    height: 76px;
    left: 0px;
    top: 0px;

    background-color: var(--grey-color-1);
    color: white;
    position: sticky;
    z-index: 1;
}
.navbar > h1{
    font-weight:600 ;
    font-size: 1.2rem;

}

.navbar > h1 > span{
    color: var(--brand-color-1);
}

.navbar > p{
   font-size: .9rem;
    cursor: pointer;
}

.navbar > p:hover{
    color: red;
}