.user-sugestion-area{
    width: 100%;
    margin-top: 2.5rem;
    list-style: none;
}

.user-sugestion-area h2{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var( --grey-color-1);
}
.user-sugestion-area ul{
    display: flex;
    overflow: auto;
    gap: 15px;
    

    margin-top:3.75rem;
    
  
}
.user-sugestion-area ul li{
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    width: 200px;
    flex-shrink: 0;
}
.user-sugestion-area ul li .user-sugestion-profile{
    display: flex;
    gap: 12px;
}
.user-sugestion-profile-text{
    padding-top:5px ;
    gap: 8px;

}
.user-sugestion-profile-text h2{
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: var(--grey-color-1);
}
.user-sugestion-profile-text p{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: var(--grey-color-2);
    
  
}
.user-sugestion-area ul li img{
    width: 3.25rem;

}

.sugestion-follow-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 12px;
    gap: 10px;
    
    width: 4.25rem;
    height: 1.75rem;
    
    border: 1px solid #212529;
    border-radius: 2px;

    margin-top: 1.25rem;
    font-weight: 600;
    font-size: 14px;
    
}

.followed{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 12px;
    gap: 10px;
    width: 5.5625rem;
    height: 1.75rem;
    background: var( --brand-color-1);
    border: 1px solid #4263EB;
    border-radius: 2px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: white;
}

@media(min-width: 769px){
    .user-sugestion-area{
        
    margin-top: 2.5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    position: absolute;
    right: 40px;
    top: 10px;

    }
    .user-sugestion-area ul{
        display: flex;
        flex-direction: column;
        gap: 30px;
        position: sticky;
        top: 86px;
        margin-top: 25px;
    }
    .user-sugestion-area ul li{
        flex-direction: row;
        gap: 16px
    }
    .user-sugestion-profile-text {
        padding-top: 5px;
        gap: 8px;
        width: 120px;
    }
    
    .sugestion-follow-button:hover{
        color: #4263EB;;
        background: #EDF2FF;
        border: 1px solid #4263EB;
        font-weight: 600;
        font-size: 14px;
    }
}
